.bar {
    background-color: rgb(235, 235, 235);
}

.bar .start {
    display: flex;
    align-items: center;
}

.bar h1 {
    font-size: 18px;
    margin-left: 20px;
}

.box {
    border: 1px solid rgb(200, 200, 200);
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.box:last-child {
    margin-bottom: 0;
}

.description {
    margin-bottom: 20px;
}

.type {
    font-family: "Courier New", Courier, monospace;
}

.value {
    border: 1px solid rgb(235, 235, 235);
}

.value span {
    display: inline-block;
    padding: 8px 12px;
}

.value span:first-child {
    background-color: rgb(235, 235, 235);
}

.offset {
    display: block;
    position: relative;
    top: -76px;
    visibility: hidden;
}

.ui-drawer .ui-subheader {
    padding-left: 20px;
    margin-top: 20px;
}

.inline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.label {
    padding: 20px;
    border: 1px solid rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(20% - 20px);
}

.label p {
    margin-top: 20px;
}

.ui-sortable-item--sorting {
    transition: transform 0.2s;
}

.ui-sortable-item--active {
    background-color: rgb(235, 235, 255);
    transition: transform 0s;
    position: relative;
    z-index: 100;
}
