.ui-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    padding: 12px 20px;
    cursor: pointer;
}

.ui-list-item--hover:hover {
    background-color: rgba(0, 0, 0, .1);
}

.ui-list-item--disabled {
    opacity: .4;
    pointer-events: none;
}