.ui-textarea__display {
    top: 1px;
    left: 1px;
    width: calc(100% - 2px);
    height: 100%;
}

.ui-textarea__slave {
    position: relative;
    white-space: pre-line;
    pointer-events: none;
    width: 100%;
    visibility: hidden;
}