.ui-select {
    padding-bottom: 0;
}

.ui-select__container {
    cursor: pointer;
}

.ui-select__icon {
    margin-right: 12px;
}

.ui-select__card {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateZ(0);
    z-index: 10;
    overflow: auto;
    padding: 8px 0;
    touch-action: pan-y;
    max-height: 0;
    opacity: 0;
    transition: max-height .2s, opacity .2s;
    pointer-events: none;
}

.ui-select__card--up {
    top: initial;
    bottom: 100%;
}

.ui-select__card--open {
    opacity: 1;
    max-height: 140px;
    pointer-events: all;
}

.ui-select__card * {
    touch-action: pan-y;
}

.ui-select__item {
    user-select: none;
    padding: 8px 12px;
    cursor: pointer;
}

.ui-select__item:hover {
    background-color: rgba(0, 0, 0, .1);
}