@keyframes backdrop-in {
    0% {
        background-color: rgba(30, 30, 30, 0);
    }
    100% {
        background-color: rgba(30, 30, 30, 0.6);
    }
}

.ui-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: all;
    background-color: rgba(30, 30, 30, 0.6);
    transition: background-color 0.4s;
    animation: backdrop-in 0.4s;
    animation-fill-mode: backwards;
}

.ui-backdrop--hidden {
    pointer-events: none;
    background-color: rgba(30, 30, 30, 0);
}

.ui-backdrop--transparent {
    background-color: rgba(30, 30, 30, 0) !important;
}
