.ui-dialog {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 2;
    padding: 40px;
}

.ui-dialog__backdrop {
    z-index: 1;
}

.ui-dialog__card {
    margin: 0 auto;
    border-radius: 8px;
    width: 100%;
    opacity: 0;
    transform: translateY(16px);
    transition: opacity .4s, transform .4s;
    z-index: 2;
    max-height: calc(100vh - 80px);
    overflow: auto;
}

.ui-dialog--show {
    pointer-events: all;
}

.ui-dialog--show .ui-dialog__card {
    opacity: 1;
    transform: translateY(0);
}